{% extends "catalog/base.html" %}
{% load mediapath_tag %}
{% block content %}
<div class="col-12">
    <a class="p-2 btn btn-outline-primary" href="/blog/create/">Создать запись</a>
    {% for object in object_list %}
        <div class="row">
            <div class="col-4">
                <img width="150" src="{% mediapath object.image %}" alt="...">
            </div>
            <div class="col-8">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ object.title }}</h5>
                    <p class="card-text">{{ object.content | slice:100 }}...</p>
                    <a href="{% url 'blog:blog_detail' object.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}