{% extends 'catalog/base.html' %}
{% load mediapath_tag %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    {% if object %}
                            Редактирование
                        {% else %}
                            Добавление товара
                        {% endif %}
                </h3>
            </div>
            <div class="card-body">
                <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
                        {% if object %}
                            Сохранить
                        {% else %}
                            Создать
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}