{% extends "catalog/base.html" %}
{% load mediapath_tag %}
{% block content %}
<div class="col-12 mb-5">
    <a class="p-2 btn btn-outline-primary" href="/catalog/create/">Добавить товар</a>
    {% for object in object_list %}
        <div class="row">
            <div class="card">
                <img width="150" src="{% mediapath object.image %}" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ object.category }} {{ object.name }}</h5>
                    <p class="card-text">{{ object.description | slice:100 }}...</p>
                    <p>Активная версия: {{ object.active_version }}</p>
                    <a href="{% url 'catalog:product_detail' object.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}